
.navcontainer {
  display: flex;
  align-items: center;
background-color: aliceblue;
}

.background-logo,
.background-pic {
display: block; 

 
 }
 .background-pic{
  width: 1190px;
 }
.background-logo{
  width: 150px;
}
.airbus {
font-size: 30px;
}
nav div {
  display: flex;
  align-items: center;
}
