.querycontainer{

background-color: skyblue;
color: black;
font-size: 25px;
height:100px ;
}

.search-query{
display: block;
}





    .from-bar{
       
        height: 30px;
        border-radius: 8px;
        position: relative;
        top: 30px;
        left: 20px;
    }
    .from-label{
        color: rgb(184, 5, 5);
        position: relative;
        top: 30px;  
        left: 10px; 
        font-weight: bold;
    }

    .to-bar{
        height: 30px;
        border-radius: 8px; 
        position: relative;
        top: 30px;
        left: 50px;
    }
    .to-label{
        color: rgb(190, 9, 9);
        position: relative;
        top: 30px;
        left: 40px;
        font-weight: bold;

    }
    .departure-bar{
        height: 30px;
        border-radius: 8px; 
        position: relative;
        top: 30px;
        left: 80px;
    }
    .dep-label{
        color: rgb(151, 7, 7);
        position: relative;
        top: 30px; 
        left: 70px; 
        font-weight: bold;
    }   
    .return-bar{
        height: 30px;
        border-radius: 8px; 
        position: relative;
        top: 30px;
        left: 120px;
    }
    .return-label{
        color: rgb(151, 7, 7);
        position: relative;
        top: 30px;   
        left: 110px; 
        font-weight: bold;
    }


 



.searchflightsbtn{

    color:rgb(197, 12, 12);
    background-color: rgb(240, 240, 68);
    border-radius: 8px;
    height: 50px;
    width :130px;
    position: relative;
   left: 200px;
    top: 30px;
    font-size: large;

}