.querycontainer{
background-color: rgb(81, 81, 231);
color: black;
font-size: 25px;
}
.searchflightsbtn{
    color: rgb(182, 9, 9);
    background-color: rgb(235, 235, 16);
    border-radius: 8px;
    height: 30px;
    width :200px;
    position: absolute;
    left: 900px;
    font-size: large;

}